
.img {
    border-radius: 10%;
    width: 100%;
    height: auto;
};

.img-container {
    width: 200px;
    height: 120px;
}

.item-container {
  margin-top: 10px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    // background-image: linear-gradient(to top, #961a4a 0%, #0250c5 50% ,);
    background: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
};

.add-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
};

.item-button {
    width: 25px;
    height: 25px;
};

.button-16 {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  cursor: pointer;
  font-family: arial,sans-serif;
  font-size: 14px;
  height: 36px;
  line-height: 27px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
};

.button-16:hover {
  border-color: #dadce0;
  box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
  color: #202124;
};

.button-16:focus {
  border-color: #4285f4;
  outline: none;
};