.nav-pre {
  background-image: linear-gradient(
    to bottom,
    rgba(9, 32, 62, 0.9) 0%,
    rgba(32, 41, 49, 0.3) 90%
  );
  height: 5vh;
  max-height: 100px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}


.home-tab{
    color: #FFE221;
    font-family: "Baloo Paaji", cursive;
    text-decoration: none;
    font-size: 24px;
}

.shop-tab{
    font-size: 24px;
    text-decoration: none;
    color: #FFE221;
}


.grow { 
    transition: all .2s ease-in-out; 
    }
    
    .grow:hover { 
    transform: scale(1.1); 
    }
